.trading-card {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .trading-card h3 {
    display: flex;
    justify-content: space-between; /* Position the Id on the opposite side */
    align-items: center; /* Vertically center the name and Id */
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .trading-card h3 span {
    font-size: 0.8rem; /* Optional: Adjust the font size of the Id */
  }
  
  .trading-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .trading-card .stats {
    margin-top: 8px;
  }
  
  .trading-card p {
    margin: 4px 0;
  }
  
  .trading-card p span {
    font-weight: bold;
    margin-left: 8px;
  }
  
  
.show-stats .trading-card-container {
  height: auto; 
}

.PokeName{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
